version: '3.4'
services:
  unbound:
    container_name: unbound
    image: lan-cache/unbound
    build: ./docker-unbound
    network_mode: "host"
    ports:
    - "53:53"
    - "53:53/udp"
    volumes:
    - ./docker-unbound/root.hints:/var/unbound/etc/root.hints
    - ./docker-unbound/root.key:/var/unbound/etc/root.key
    - ./docker-unbound/unbound.conf:/etc/unbound/unbound.conf
    restart: unless-stopped
    stdin_open: true
    tty: true

  nginx:
    container_name: nginx
    image: lan-cache/nginx
    build: ./docker-nginx
    network_mode: "host"
    ports:
    - "80:80"
    volumes:
    - ./docker-nginx/start-nginx.sh:/usr/local/bin/start-nginx.sh
    - ./lancache/conf/nginx.conf:/etc/nginx/nginx.conf
    - ./data/cache:/cache
    - ./data/logs:/var/log/nginx
    - ./lancache/conf/lancache:/etc/nginx/lancache
    - ./lancache/conf/vhosts-enabled:/etc/nginx/vhosts-enabled
    restart: unless-stopped

  sniproxy:
    container_name: sniproxy
    image: lan-cache/sniproxy
    build: ./docker-sniproxy
    network_mode: "host"
    ports:
    - "443:443"
    volumes:
    - ./data/sniproxy.conf:/etc/sniproxy.conf
    restart: unless-stopped
